<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="DBDYNA" connectionString="Data Source=(local);Initial Catalog=DYNA;User ID=sa;Password=123" />
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="DBDYNA" connectionString="Data Source=(local);Initial Catalog=Dyna;User ID=sa;Password=123" />-->
    <!--<add name="DBDYNA" connectionString="Data Source=(local);Initial Catalog=Dyna;User ID=sa;Password=aa1234567" />-->
    <!--<add name="DBDYNA" connectionString="Data Source=192.168.1.5;Initial Catalog=Dyna;User ID=sa;Password=aa1234567" />-->   
    <!--<add name="DBDYNA" connectionString="Data Source=192.168.1.4;Initial Catalog=Dyna;User ID=sa;Password=aa1234567" />-->
    <!--<add name="DBDYNA" connectionString="Data Source=192.168.1.4;Initial Catalog=Dyna;User ID=sa;Password=aa1234567" />-->
    <add name="DBDYNA" connectionString="Data Source=192.168.100.212;Initial Catalog=DYNA;User ID=sa;Password=P@ssw0rd" />
    <!--<add name="DBDYNA" connectionString="Data Source=.\MSSQLSERVER_2012;Initial Catalog=DYNA;User ID=sa;Password=12345" />-->
  </connectionStrings>
  <appSettings>
    <add key="SoundPath" value="Sound\\" />
    <add key="CompleteSound" value="cartoon003.WAV" />
    <add key="ErrorSound" value="cartoon162.WAV" />
    <add key="TimeToHoldCompleteScreen" value="1000" />
    <add key="TimeAutoClose" value="500" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>